<footer class="bs-footer">
    <div class="container">
        <div class="top-footer">
            <div class="logo">
                <a href="index.html">
                    <img src="assets/images/footer-logo.png" class="img-fluid" alt="footer-logo">
                </a>
            </div>
            <ul class="list">
                <li><a href="index.html">Home</a></li>
                <li><a href="technology.html">Our Tech</a></li>
                <li><a href="our-story.html">Our Story</a></li>
                <li><a href="contact-us.html">Contact us</a></li>
            </ul>
            <div class="social-media">
                <p>Follow us</p>
                <a href="https://www.instagram.com/supershyft?igsh=bjFlZzZsbDdhaTdy" target="_blank"><span
                        class="icon icon-insta"></span></a>
                <a href="https://www.linkedin.com/company/fitnasticindia/" target="_blank"><span
                        class="icon icon-linkdin"></span></a>
            </div>
        </div>
        <div class="d-lg-flex d-md-flex justify-content-between">
            <div class="copywrite">
                © 2025 Supershyft. All rights reserved.
            </div>
            <div class="copywrite copywrite-new">
              Developed By
            <a href="https://creativewebo.com/" target="_blank">CreativeWebo Pvt. Ltd.</a>
            </div>
        </div>

    </div>
</footer>