 <header class="bs-header fixed-top" id="header">
  <nav id="navbar" class="navbar navbar-expand-md " aria-label="Offcanvas navbar large">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img class="img-fluid" src="assets/images/logo.png" alt="logo">
      </a>
      <button class="navbar-toggler px-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
        aria-controls="offcanvasNavbar2">
        <span class="icon icon-menu"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2">
        <div class="offcanvas-header">
          <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="logo" class="img-fluid">
          </a>
          <button type="button" class="btn-close " data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1">
         
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item dropdown custom-dropdown">
              <a class="nav-link" href="technology.html">Our Tech</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="our-story.html">Our Story</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact-us.html">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://blog.supershyft.com" target="_blank" rel="noopener noreferrer">Blogs</a>
            </li>
            <li class="nav-item">
              <a class="bs-btn login-btn" href="https://app.supershyft.com/login" style="font-size:16px;padding:6px 16px;line-height:1.2;margin-top:4px;">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header> 



